<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Ruby on Rails A/B Testing Experiment</title>

  <!-- Framework CSS -->
  <link rel="stylesheet" href="../../blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="../../blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

  <!-- Import fancy-type plugin for the sample page. -->
  <link rel="stylesheet" href="../../blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
</head>
<div class="headerclass">
<hr>
<h2 class="alt">What are you looking for in an A/B Testing Framework?</h2>

  <p>


  </p>


</div>



<br />
<body>
    <div class="container">
      <div style="float: left; width: auto;">
        <%= button_to "A/B Framework 1", "new_tables/new"%>
      </div>
      <div style="float: left; width: auto;">
        <%= button_to "A/B Framework 2", "things/new3"%>
      </div>
      <div style="float: left; width: auto;">
        <%= button_to "A/B Framework 3", "things/new"%>
      </div>

      <br>
      <br>
      <div class="span-24" style = "font-family: arial; font-size:16pt" >
        A chart of information
      </div>
      <br>
      <br>
      <div class="span-6">
        Technical Requirements
      </div>
      <div class="span-12">
        Administrative Requirements
      </div>
      <div class="span-4 last">
        Analysis Requirements
      </div>
      <div class="container">
        <div class="span-6 border">
          The first column
        </div>
        <div class="span-12 border">
          The second column
        </div>
        <div class="span-4 last">
          The fourth (last) column
        </div>

     <br>
    <br>
    <br>
        <div class = "spancontainer">
          <div class="span-6 colborder">
            <h6>somewhere i have never travelled, gladly beyond</h6>
            <p>
              somewhere i have never travelled, gladly beyond     <br>
              any experience,your eyes have their silence:        <br>
              in your most frail gesture are things which enclose me,   <br>
              or which i cannot touch because they are too near      <br>
              <br>
              your slightest look easily will unclose me       <br>
              though i have closed myself as fingers,      <br>
              you open always petal by petal myself as Spring opens   <br>
              (touching skillfully, mysteriously)her first rose      <br>
              <br>
              or if your wish be to close me, i and         <br>
              my life will shut very beautifully, suddenly,    <br>
              as when the heart of this flower imagines       <br>
              the snow carefully everywhere descending;     <br>
              <br>
              nothing which we are to perceive in this world equals   <br>
              the power of your intense fragility: whose texture   <br>
              compels me with the color of its countries,       <br>
              rendering death and forever with each breathing   <br>
              <br>
              (i do not know what it is about you that closes <br>
              and opens;only something in me understands      <br>
              the voice of your eyes is deeper than all roses)  <br>
              nobody,not even the rain, has such small hands     <br>
            </p>
          </div>
          <div class="span-8 colborder">
            <h6>A Question</h6>
            <p>
              A voice said, Look me in the stars   <br>
              And tell me truly, men of earth, <br>
              If all the soul-and-body scars      <br>
              Were not too much to pay for birth.    <br>
            </p>
          </div>
          <div class="span-7 last">
            <h6>Dust</h6>
            <p>
              Someone spoke to me last night,    <br>
              told me the truth. Just a few words,       <br>
              but I recognized it.      <br>
              I knew I should make myself get up,   <br>
              write it down, but it was late,    <br>
              and I was exhausted from working       <br>
              all day in the garden, moving rocks.    <br>
              Now, I remember only the flavor —   <br>
              not like food, sweet or sharp.      <br>
              More like a fine powder, like dust.    <br>
              And I wasn’﻿t elated or frightened,   <br>
              but simply rapt, aware.            <br>
              That’﻿s how it is sometimes —     <br>
              God comes to your window,            <br>
              all bright light and black wings,     <br>
              and you’﻿re just too tired to open it.    <br>
            </p>
          </div>
        </div>
      </div>
    </div>

</body>


